*,
::before,
::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $ff-kedebideri;
  font-weight: 400;
  color: $color-cream;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}