.btn {
  outline: none;
  border: 3px solid $color-cream;
  background-color: transparent;
  border-radius: 8px;
  color: $color-cream;
  padding: 15px;
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  transition: 0.2s;

  &:hover, &:focus-visible {
    background-color: $color-cream;
    color: $color-cinnamon;
    transition: 0.2s;
  }

  &--hide {
    display: none;
  }
}