.custom-input {
  position: relative;
  padding: 30px 0 0;

  &__field {
    padding: 0 20px;
    width: 100%;
    height: 45px;
    background-color: $color-cream;
    border: none;
    border-radius: 100px;
    outline: none;
    font-size: 20px;
    line-height: 24px;
    color: $color-cinnamon;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 24px;
  }
}