.user-card {
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 3px solid $color-cream;

  &__heading {
    font-size: 45px;
    font-weight: 700;
  }

  &__text {
    font-size: 30px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list-item {
    font-size: 24px;
  }
}